<%- include ("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for( var i=0; i<newList.length; i++) { %>
            <div class="item">
                <input type="checkbox" name="" id="">

                <p>
                    <%= newList[i] %>
                </p>
            </div>
            <% } %>

                <form action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" id="btn" value="<%= listTitle %>">+</button>
                </form>

    </div>

    <script src="" async defer></script>

    <%- include ("footer") -%>